* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

    
html, body {
    max-width: 100%;
    overflow-x: hidden;
    font: normal 500 10px 'Quicksand';
    background-color: #1c1c1c;
}


a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 1.8rem;
    margin-top: 5px;
    color: white;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: .05rem;
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

.cta:hover {
    color: white;
    background-color: crimson;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: left;
}

.section-title span {
    color: crimson;
}

.brand-title {
    font-size: 4rem;
    font-weight: 300;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    margin-left: 30px;
}

.brand-title span {
    color: crimson;
}

label, input{
    display: block;
}
label{
    margin-bottom: 10px;
}
input:focus{
    outline: solid #948080 4px;
    transition: .2s ease outline; 
}
input.active{
    outline: solid red 2px;
    transition: .2s ease outline; 
}
textarea:focus{
    outline: solid #948080 4px;
    transition: .2s ease outline; 
}
textarea.active{
    outline: solid red 2px;
    transition: .2s ease outline; 
}
.error-para{
    color: red;
    width: 280px;
    height: 10px;
}