/* css global classes */
@import url(./_global.css);


/* import fonts from fonts.css file */
@import url(./fonts.css);



/*Header section*/
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;

}

#header .header {
    min-height: 1vh;
    background-color: rgba(31, 30, 30, 0.9);
    border-bottom: 1px rgba(220, 20, 60, 0.1) solid;
    transition: .3s ease background-color;
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: rgb(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease left;
}

#header .nav-list ul.active {
    left: 0;
}

#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list li:hover a {
    color: crimson;
    transition: .3s ease color;
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
}

#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}

#header .nav-bar .brand-title {
    margin-left: 0;
    font-size: 2rem;
}

/*End Header Section*/

/*Keyframes box*/
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

/*End Keyframes*/

/*Keyframes text reveal*/
@keyframes text_reveal {
    100% {
        color: white;
    }
}

/*Keyframes text reveal red*/
@keyframes text_reveal_red {
    100% {
        color: crimson;
    }
}

/*End Keyframe Text Reveal*/

/*Start Service Section*/

#services .services {
    flex-direction: column;
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px 0;
}

#services .section-title {
    margin-left: 40px;
}

#services .service-top p {
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: .05rem;
    text-align: left;
    margin-left: 40px;
    width: 80%;
}

#services .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

#services .service-bottom .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(../img/img-1.png);
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 20px;
}

#services .service-bottom .service-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #1c1c1c 0%, crimson 100%);
    opacity: 0.95;
    z-index: -1;
}

#services .service-bottom .icon {
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}

#services .service-bottom .service-item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .service-bottom .service-item p {
    color: white;
    text-align: left;
}

/*End Service Section*/

/*Start Project Section*/
#projects {
    margin-top: 20px;
    
}

#projects .projects {
    flex-direction: column;
    max-width: 1250px;
    margin: 0 auto;
}

#projects .section-title {
    margin-bottom: 0;
    margin-left: 40px;
}

#projects .all-projects {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #1c1c1c 0%, crimson 100%);
    color: white;
}

#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-info p {
    color: white;
}

#projects .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#projects .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .7;
}

#projects .project-img img {
    transition: .3s ease transform;
}

#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}

/*End Project Section*/

/*Start about section*/
#about {
    /*background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);*/
    position: relative;
    z-index: 1;
    
    display: block;
    height: 100vh;
}

#about::after {
    content: '';
    background-image: url(../img/img-4.png);
    background-size: cover;
    background-position: top center;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#about .about {
    flex-direction: column-reverse;
    max-width: 1300px;
    margin: 0 auto;
    padding: 90px 0px 0px 0px;
    position: relative;
    z-index: 0;
}

#about .container {
    min-height: 0;
    margin-bottom: 10px;

}

#about .col-left {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}


#about .col-right {
    width: 100%;
    position: relative;
    height: auto;
    margin-top: 10%;
    padding-left: 30px;
}


#about .col-right h1 {
    display: block;
    text-align: left;
    font-size: 6rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.3s;
}

#about .col-right h1 .red-text {
    display: inline;
    font-size: 6rem;
    color: transparent;
    animation: text_reveal_red .5s ease forwards;
    animation-delay: 1.3s;
}

#about .col-right h1 span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}

#about .col-right p {
    text-align: left;
    margin: 20px 0;
    position: relative;
    color: white;
}

#about .col-right h2 {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
    position: relative;
    z-index: 0;
    color: white;
}

#about .col-right .cta {
    color: white;
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 2rem;
    position: relative;
}



/*End about section*/

/*Start contact section*/

#contact {
    border-bottom: 1px rgba(220, 20, 60, 0.1) solid;
}

#contact .contact {
    flex-direction: column;
    text-align: left;
    max-width: 1300px;

    padding: 30px 0;
}

#contact .container {
    padding-top: 80px;
    display: flex;
    align-items: left;
    justify-content: left;
    margin-left: 20px;
}

#contact .section-title {
    margin-left: 40px;
}

#contact .contact-top p {
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: .05rem;
    text-align: left;
    margin-left: 40px;
    width: 80%;
}

#contact .contact-bottom .form {
    
    width: 100%;

}

#contact .contact-bottom .form .email-input {
    
    width: 80%;
    padding: 5px;
    font-size: 1.5rem;
}

#contact .contact-bottom .form .message-input {
    width: 80%;
    font-size: 1.5rem;
    text-align: left;
    resize: none;
}

#contact .contact-bottom .form .cta {
    width: 80%;
}

#contact .contact-bottom .form label {
    margin-top: 40px;
}

#contact .contact-top .section-title {
    margin-left: 20px;
}

#contact .contact-top p {
    margin-left: 20px;

}

#contact .contact-bottom {
    margin-top: 10px;
    width: 100%;
    margin-left: 40px;
    
}
#contact .contact-bottom-right{
    margin-top: 10px;
    width: 80%;
    text-align: left;
    color: white;
}
#contact .contact-bottom .contact-bottom-right h2{
    font-size: 1.7rem;
    margin-top: 20px;
}
/*End contact section*/

/*Start Footer Section*/
#footer {
    background-image: linear-gradient(60deg, crimson 0%, #1c1c1c 20%);
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer .footer .brand h2 {
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .footer .brand-title {
    margin: 0 auto;
}

#footer .footer .social-icon {
    display: flex;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
}

#footer .footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 10px;
}

#footer .social-item img {
    filter: grayscale(1);
    transition: .8s ease filter;
}

#footer .social-item img:hover {
    filter: grayscale(0);
}

#footer p {
    color: white;
    font-size: 1.3rem;
    text-align: center;
}

/*End Footer Section*/

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }

    h1.section-title {
        font-size: 6rem;
    }

    /* Hero */
    #hero h1 {
        font-size: 7rem;
    }

    /* End Hero */

    /* Services Section */
    #services .service-bottom .service-item {
        flex-basis: 45%;
        margin: 2.5%;
    }

    /* End Services Section */

    /* Project */
    #projects .project-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #projects .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }

    #projects .all-projects .project-info {
        height: 100%;
    }

    #projects .all-projects .project-img {
        height: 100%;
    }

    /* End Project */

    /* About */
    #about {
        height: 100vh;
        padding: 0;
        
    }

    .about::after {
        background-image: none;
    }

    #about .col-right {
        padding-left: 7%;
        text-align: left;
    }

    /* End About */
    #about .col-right p {
        text-align: left;
        margin: 20px 0;
        position: relative;
        padding: 0;
        color: white;
    }

    #about .col-right h2 {
        font-size: 2.2rem;
        font-weight: 500;
        letter-spacing: .2rem;
        margin-bottom: 10px;
        position: relative;
        z-index: 0;
        color: white;

    }

    #about .col-right .cta {
        color: white;
        margin-bottom: 30px;
        padding: 10px 20px;
        font-size: 2rem;
        position: relative;

    }

    #about .col-right h1 {
        display: block;
        text-align: left;
        font-size: 6rem;
        position: relative;
        color: transparent;
        animation: text_reveal .5s ease forwards;
        animation-delay: 1.3s;

    }

    #contact .container {
        margin: 0 auto;
    }

    #contact .contact-top .section-title {
        margin-left: 20px;
    }

    #contact .contact-top p {
        width: 95%;
        margin-left: 20px;
    }

    #contact .contact-bottom {
        margin-top: 10px;
        width: 100%;
        margin-left: 40px;
    }
    #contact .contact-bottom .form .email-input,
    #contact .contact-bottom .form .message-input,
    #contact .contact-bottom .form .cta {
        width: 80%;
    }
    #contact .contact-bottom {
        margin-top: 10px;
        width: 100%;
        margin-left: 40px;
        display: flex;
    }
    #contact .contact-bottom .contact-bottom-left{
        flex: 50%;
    }
    #contact .contact-bottom .contact-bottom-right{
        
        display: flex;
        justify-content: center;
        align-items: left;
        flex-direction: column;
        flex: 50%;
        color: white;
        
    }
    #contact .contact-bottom .contact-bottom-right h2{
        margin-top: 0;
        margin-bottom: 20px;
    }
}

/* End Media Query For Tablet */


/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {

    /* header */
    #header .hamburger {
        display: none;
    }

    #header .nav-list ul .brand-title {
        display: none;
        margin-left: 0;
    }

    #header .brand-title {
        margin-left: 0;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: -moz-fit-content;
        width: fit-content;
        background-color: transparent;

    }

    #header .nav-list ul li {
        display: inline-block;
    }

    #header .nav-list ul li a {
        font-size: 1.8rem;
    }

    #header .nav-list ul a:after {
        display: none;
    }

    /* End header */

    #services .service-bottom .service-item {
        flex-basis: 22%;
        margin: 1.5%;
    }

    #about .about {
        right: 60px;
        background-color: transparent;
    }

    #about .col-right {
        padding-left: 6.8%;
    }

    #about .col-right p {
        margin: 0;
        margin-bottom: 20px;
    }

    #about .col-right h1 {
        font-size: 6rem;
    }

    #about .col-right h1 .red-text {
        font-size: 6rem;
    }

    .about::after {
        background-image: url(../img/img-4.png);

    }

    #projects .section-title {
        margin-left: 130px;
    }

    #services .section-title {
        margin-left: 20px;
    }

    #services .service-top p {
        margin-left: 20px;
    }

    #contact .contact-top .section-title {
        margin-left: 20px;
    }

    #contact .contact-top p {
        margin-left: 20px;

    }

    #contact .contact-bottom {
        margin-top: 10px;
        width: 100%;
        margin-left: 40px;
    }

    #contact .contact-bottom .form .email-input,
    #contact .contact-bottom .form .message-input,
    #contact .contact-bottom .form .cta {
        width: 50%;
    }
    #contact .contact-bottom .contact-bottom-right h2{
        font-size: 2.2rem;
    }
}

/* End  Media Query For Desktop */
/*  Media Query For 4k */
@media only screen and (min-width: 2000px) {
    #header .nav-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        max-width: 2150px;

    }

    #header .nav-bar .brand-title {
        font-size: 7.5rem;
    }

    #header .nav-list ul li a {
        font-size: 4rem;
    }

    #about .about {
        text-align: left;
        max-width: 2100px;
        margin: 0 auto;
        padding: 100px 20px 0px 20px;
        position: relative;
        z-index: 0;
    }

    #about .col-left {
        display: block;
        position: relative;

        width: 675px;
        height: 675px;

    }

    #about .col-right {
        padding-left: 1.8%;
    }

    #about .col-right .section-title {
        top: -25px;
        font-size: 10rem;
    }

    #about .col-right .section-title .red-text {
        font-size: 10rem;
    }

    #about .col-right h2 {
        font-size: 8rem;
        position: relative;

    }

    #about .col-right p {
        font-size: 4rem;
        line-height: 55px;
        position: relative;
    }

    #about .col-right .cta {
        color: white;
        margin-bottom: 0;
        padding: 40px 80px;
        font-size: 4rem;
        position: relative;
    }

    #projects .projects {
        max-width: 2100px;
        margin-left: 220px;
    }

    #projects .section-title {
        margin-left: 210px;
    }

    #projects .project-item {
        flex-direction: row;
        height: 750px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #projects .project-info h1 {
        font-size: 8rem;
        font-weight: 500;
    }

    #projects .project-info h2 {
        font-size: 6rem;
        font-weight: 500;
        margin-top: 10px;
    }

    #projects .project-info p {
        color: white;
        font-size: 4rem;
        line-height: 55px;
    }

    #services .services {
        max-width: 2100px;
        margin-left: 200px;
    }

    #services .section-title {
        font-size: 8rem;

    }

    #services .service-top p {
        margin-top: 5px;
        font-size: 4rem;
        line-height: 55px;
        font-weight: 300px;
        letter-spacing: .05rem;
        text-align: left;

        width: 100%;
    }

    #services .service-bottom {
        display: flex;
        align-items: left;
        justify-content: left;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    #services .service-bottom .service-item {
        padding: 60px;
    }

    #services .service-bottom .service-item::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(60deg, #1c1c1c 0%, crimson 100%);
        opacity: .9;
        z-index: -1;
    }

    #services .service-bottom .icon {
        height: 160px;
        width: 160px;
        margin-bottom: 20px;
    }

    #services .service-bottom .service-item h2 {
        font-size: 6rem;
        color: white;
        margin-bottom: 10px;
        text-align: left;
        text-transform: uppercase;
    }

    #services .service-bottom .service-item p {
        color: white;
        text-align: left;
        font-size: 4rem;
        line-height: 55px;
    }

    /*Start Contact Section*/
    #contact .section-title {
        font-size: 8rem;
        margin-left: 40px;
    }

    #contact .contact {
        max-width: 2100px;
        margin-left: 200px;
    }

    #contact .contact-top {
        width: 100%;
    }

    #contact .contact p {
        font-size: 4rem;
        line-height: 55px;
    }

    #contact .contact .cta {
        font-size: 4rem;
    }

    #contact .contact .contact-bottom .email-input {
        font-size: 4rem;
    }

    #contact .contact .contact-bottom .message-input {
        font-size: 4rem;
    }

    #contact .contact-bottom .form .email-input,
    #contact .contact-bottom .form .message-input,
    #contact .contact-bottom .form .cta {
        width: 70%;
    }
    #contact .contact-bottom .contact-bottom-right h2{
        font-size: 4rem;
    }
    #contact .contact-bottom .contact-bottom-left{
        flex: 70%;
    }
    #contact .contact-bottom .contact-bottom-right{
        margin-top: 45px;
        flex: 30%;
        color: white;
        top: 50%;
    }
    #contact .contact-bottom .error-para{
        color: red;
        width: 500px;
        height: 20px;
        margin-bottom: 10px;
    }
    /*Start Footer Section*/

    #footer .footer {
        min-height: 200px;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 10px;
    }

    #footer .brand-title {
        font-size: 8rem;
    }

    #footer .footer .brand h2 {
        color: white;
        text-align: center;
        font-weight: 500;
        font-size: 6rem;
        letter-spacing: .1rem;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #footer .footer .social-icon {
        display: flex;
        margin-bottom: 30px;
        text-align: center;
        justify-content: center;
    }

    #footer .footer .social-item {
        height: 125px;
        width: 125px;
        margin: 0 10px;
    }

    #footer p {
        color: white;
        font-size: 4rem;
        text-align: center;
    }
}

/* End  Media Query For 4k */